In [22]:

import pandas as pd


data = {
    'customerid': [1, 2, 3, 4, 5],  
    'age': [25, 30, 35, 40, 45],    
    'annual_income': [50000, 60000, 70000, 80000, 90000] 
}


df = pd.DataFrame(data)


print("Data types of columns:\n")
print(df.dtypes)


df['age'] = df['age'].astype(int)  
df['annual_income'] = df['annual_income'].astype(float)  


print("\nUpdated DataFrame:")
print(df)

Data types of columns:

customerid       int64
age              int64
annual_income    int64
dtype: object

Updated DataFrame:
   customerid  age  annual_income
0           1   25        50000.0
1           2   30        60000.0
2           3   35        70000.0
3           4   40        80000.0
4           5   45        90000.0

In [23]:
df.mean()

customerid           3.0
age                 35.0
annual_income    70000.0
dtype: float64

In [25]:
df.loc[:,'age'].mean()

35.0

In [15]:
print(df.dtypes)

Name      object
Age        int64
Income     int64
dtype: object

In [26]:
df.mean(axis=1)[0:4]

0    16675.333333
1    20010.666667
2    23346.000000
3    26681.333333
dtype: float64

In [27]:
df.median()

customerid           3.0
age                 35.0
annual_income    70000.0
dtype: float64

In [28]:
df.loc[:,'age'].median()

35.0

In [29]:
df.median(axis=1)[0:4]

0    25.0
1    30.0
2    35.0
3    40.0
dtype: float64

In [30]:
df.mode()

   customerid  age  annual_income
0           1   25        50000.0
1           2   30        60000.0
2           3   35        70000.0
3           4   40        80000.0
4           5   45        90000.0

In [31]:
df.loc[:,'age'].mode()

0    25
1    30
2    35
3    40
4    45
Name: age, dtype: int32

In [32]:
df.min()

customerid           1.0
age                 25.0
annual_income    50000.0
dtype: float64

In [33]:
df.loc[:,'age'].min(skipna = False)

25

In [34]:
df.max()

customerid           5.0
age                 45.0
annual_income    90000.0
dtype: float64

In [35]:
df.loc[:,'age'].max(skipna = False)

45

In [36]:
df.std()

customerid           1.581139
age                  7.905694
annual_income    15811.388301
dtype: float64

In [37]:
df.loc[:,'age'].std()

7.905694150420948

In [38]:
df.std(axis=1)[0:4]

0    28860.010401
1    34631.781377
2    40403.552356
3    46175.323338
dtype: float64

In [40]:
import pandas as pd


data = {
    'Gender': ['Female', 'Male', 'Female', 'Male', 'Female', 'Male', 'Female', 'Male', 'Female', 'Male'],
    'Age': [25, 32, 28, 24, 35, 30, 40, 29, 37, 22],
    'Income': [55000, 72000, 68000, 80000, 95000, 62000, 105000, 74000, 88000, 51000]
}


df = pd.DataFrame(data)


df_u = df.rename(columns={'Income': 'Annual Income ($)', 'Age': 'Age (Years)'}, inplace=False)


print(df_u)

   Gender  Age (Years)  Annual Income ($)
0  Female           25              55000
1    Male           32              72000
2  Female           28              68000
3    Male           24              80000
4  Female           35              95000
5    Male           30              62000
6  Female           40             105000
7    Male           29              74000
8  Female           37              88000
9    Male           22              51000

In [43]:
import pandas as pd


data = {
    'Genre': ['Female', 'Male', 'Female', 'Male', 'Female', 'Male', 'Female', 'Male', 'Female', 'Male'],
    'Income': [55000, 72000, 68000, 80000, 95000, 62000, 105000, 74000, 88000, 51000]
}


df = pd.DataFrame(data)


grouped_income = df.groupby(['Genre'])['Income'].mean()


print(grouped_income)

Genre
Female    82200.0
Male      67800.0
Name: Income, dtype: float64

In [45]:
 df.groupby(['Genre'])['Income'].mean()

Genre
Female    82200.0
Male      67800.0
Name: Income, dtype: float64

In [46]:
from sklearn import preprocessing
enc = preprocessing.OneHotEncoder()
enc_df = pd.DataFrame(enc.fit_transform(df[['Genre']]).toarray())
enc_df

     0    1
0  1.0  0.0
1  0.0  1.0
2  1.0  0.0
3  0.0  1.0
4  1.0  0.0
5  0.0  1.0
6  1.0  0.0
7  0.0  1.0
8  1.0  0.0
9  0.0  1.0

In [47]:
df_encode =df_u.join(enc_df)
df_encode

   Gender  Age (Years)  Annual Income ($)    0    1
0  Female           25              55000  1.0  0.0
1    Male           32              72000  0.0  1.0
2  Female           28              68000  1.0  0.0
3    Male           24              80000  0.0  1.0
4  Female           35              95000  1.0  0.0
5    Male           30              62000  0.0  1.0
6  Female           40             105000  1.0  0.0
7    Male           29              74000  0.0  1.0
8  Female           37              88000  1.0  0.0
9    Male           22              51000  0.0  1.0

In [49]:
import pandas as pd

csv_url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'

col_names = ['Sepal_Length', 'Sepal_Width', 'Petal_Length', 'Petal_Width', 'Species']

df = pd.read_csv(csv_url, header=None, names=col_names)


print(df.describe())

       Sepal_Length  Sepal_Width  Petal_Length  Petal_Width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [ ]:
iris = pd.read_csv(csv_url, names = col_names)